body {
    font-family: Arial, sans-serif;
    height: 640px;
    width: 360px;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.top-header {
    height: 123px;
    width: 360px;
    margin-left: 500px;
    align-items: center;
    justify-content: space-between;
    background-color: #ccc;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-header .menu {
    margin-left: 490px;
    display: flex;
    align-items: center;
}

.top-header .menu .san {

    margin-left: -500px;
    font-size: 24px;
    cursor: pointer;
}
.top-header .menu .ring {

    margin-left: 10px;
    font-size: 24px;
    cursor: pointer;
}

.top-header .logo img {
    width: 45px;
    height: 37px;
    margin-top:-200px;
    margin-left: 120px;
    display: absolute;

}

.top-header .profile {
    margin-top:-50px;
    margin-left: 220px;
    display: flex;
    align-items: center;
}

.top-header .profile span {
    font-size: 12px;
    margin-right: 10px;
}

.top-header .profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.top-header .main {
    
    height: 40px;
    width: 40px;
    gap:5px;
    margin: 0 -5px;
    margin-top: 50px;;
    display: flex;
    justify-content: space-between; 
    }
    
    
.main .back {
    
    height: 40px;
    width: 40px;
    margin-top: 70px;
    margin-left: -500px;
    display: flex;
    }
    
    
/*.search-section {
    width: 360px;
    margin-left: 500px;
    display: flex;
    gap: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-section input,
.search-section select {
    margin-left: 30px;
    gap: 5px;
    padding: 5px;
    font-size: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}*/

.container{
margin-left:550px;
font-size: 18px;

}
.group{
    padding: 300px;
    margin-top: -500px;
}
#report-list  {
    margin-left: -100px;
    list-style-type: none;
    padding: 100px;
    margin: 100px;
    display: absolute;
}


#report-list li {
    width: 360px;
    height: 100px;
    margin-left: -500px;
    background-color: rgb(245, 238, 238);
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#report-list li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#report-list li div {
    flex-grow: 5;
    margin-left: 10px;
}

#report-list li .status {
   
    display: flex;
    align-items: center;
    gap: 5px;
}

#report-details {
    width: 360px;
    height: 100%;
    margin-left: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: none;
}

.hidden {
    
    align-items: block;

}
#report-details {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#delete-report {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 600px;
    margin-right: 10px;
    display: absolute;
}
#contact-report {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 600px;
    margin-right: 10px;
    display: absolute;
}



.container {
    position: relative;
}

#bottom-half {
    position: relative;
}

#map-image {
    position: absolute;
    margin-left: -50px;
    margin-top: 100px;
    width: 350px;
    height: 300px;
}


#car-image {
    position: absolute;
    top: 0;
    margin-left: 300px;
    width: 150px;
    height: auto;
}

#action-section {
    display: flex;
    justify-content: space-between;
}

