body {
    font-family: Arial, sans-serif;
    height: 640px;
    width: 360px;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.top-header {
    height: 123px;
    width: 360px;
    margin-left: 500px;
    align-items: center;
    justify-content: space-between;
    background-color: #ccc;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-header .menu {
    margin-left: 490px;
    display: flex;
    align-items: center;
}

.top-header .menu .san {

    margin-left: -500px;
    font-size: 24px;
    cursor: pointer;
}
.top-header .menu .ring {

    margin-left: 10px;
    font-size: 24px;
    cursor: pointer;
}

.logo img {
    width: 45px;
    height: 37px;
    margin-top:-100px;
    margin-left: 120px;
    display: absolute;

}

.top-header .profile {
    margin-top:-50px;
    margin-left: 220px;
    display: flex;
    align-items: center;
}

.top-header .profile span {
    font-size: 12px;
    margin-right: 5px;
}

.top-header .profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: absolute;
    margin-top: 0px;
    margin-left: 10px;
}

.top-header .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
    padding: 10px;
    margin: 0px;
}

.main img {
    height: 40px; 
    width: 40px;
}

    
.back {
    
    height: 40px;
    width: 40px;
    margin-top: 25px;
    display: absolute;
    }
    
    


.container{
    width: 110%;
margin-left:550px;
font-size: 16px;

}
.group{
    padding: 300px;
    margin-top: -500px;
}
#report-list  {
    font-size: 14;
    margin-left: -100px;
    list-style-type: none;
    padding: 100px;
    margin: 100px;
    display: absolute;
}


#report-list li {
    width: 380px;
    height: 100%;
    background-color: rgb(245, 238, 238);
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#report-list li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
}

#report-list li div {
    display: flex;
    flex-grow: 5;
    margin-left: 10px;
}

#report-list li .status {

   
    display: flex;
    align-items: center;
    gap: 5px;
}
img{
    display: absolute;
    margin-top: 30px;
}

p{
    
    padding: 8px;
}
.pipe {
    
    margin-left: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#report-details {
    width: 360px;
    height: 100%;
    margin-left: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
    display: none;
}

.hidden {
    
    align-items: block;

}
